body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #130818;
    font-family: sans-serif;
}

#container{
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;;
    background-color: #292929;
    overflow: hidden;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: #f70b0b;
}
.f_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #757575;
}
.b_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #757575;
}
.f_light_l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #c1b748;
}
.f_light_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #c1b748;
}
.f_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: #090909;
    top: 20%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.f_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: #090909;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: #090909;
    top: 70%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: #090909;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car_1{
    top: -100px;
    left: 60%;
    background-color: #151281;
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #fc2653;
}
#car_3{
    top: -350px;
    left: 50%;
    background-color: #e7d943;
}
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #18363a;
    font-size: 30px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}
#score_div{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 35px;
    background-color: #1d122a;
    color: #84a10b;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #281a39;
}
#help{
	text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #d51c36;
}

.card{
    position: absolute;
    top: 55%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 320px;
    background: #262626;
    box-sizing: border-box;
    transition: .5s;

}
.card:hover{
    box-shadow: 0 25px 40px rgba(0,0,0,1.9);
}
.imgBx{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.imgBx img{
    width: 100%;
    height: 100%;
    transition: 5s;
    transform-origin: top right;
}
.card:hover .imgBx img{
    transform: scale(1.2);
}
.card ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 5s;
}
.card:hover ul{
    height: 50px;
}
.card ul li{
    list-style: none;
    width: 20%;
    height: 50px;
}
.card ul li a{
    display: block;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #262626;
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,.5);
}
.card ul li a:hover{
    background: #000;
    color: #fff;
}
.card ul li:last-child a{
    border-right: none;
}
.content{
    background: #000;
    padding: 20px 10px;
    text-align: center;

}
.content h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}
.content p{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}